.box{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    direction:rtl;

}
.box a{
    font-size:40px;
    color:#313131;
    transition: 0.3s all;
    
}
.box a:hover{
    color:yellow;
}
.b1:hover ~ a{
    color:yellow;
}
.b2:hover ~ a{
    color:yellow;
}
.b3:hover ~ a{
    color:yellow;
}
.b4:hover ~ a{
    color:yellow;
}
